.spacingXS {
  height: $spacing-xs;
}

.spacingS {
  height: $spacing-s;
}

.spacingM {
  height: $spacing-m;
}

.spacingL {
  height: $spacing-l;
}

.spacingXL {
  height: $spacing-xl;
}

.spacingXXL {
  height: $spacing-xxl;
}
