@font-face {
  font-family: 'DMSans-Bold';
  src: url('../../public/fonts/DMSans-Bold.ttf')
}

@font-face {
  font-family: 'DMSans-BoldItalic';
  src: url('../../public/fonts/DMSans-BoldItalic.ttf')
}

@font-face {
  font-family: 'DMSans-Italic';
  src: url('../../public/fonts/DMSans-Italic.ttf')
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('../../public/fonts/DMSans-Medium.ttf')
}

@font-face {
  font-family: 'DMSans-MediumItalic';
  src: url('../../public/fonts/DMSans-MediumItalic.ttf')
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('../../public/fonts/DMSans-Regular.ttf')
}

@font-face {
  font-family: 'DMSans-Italic';
  src: url('../../public/fonts/DMSans-Italic.ttf')
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../public/fonts/Montserrat-Bold.ttf')
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../public/fonts/Montserrat-Medium.ttf')
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../public/fonts/Montserrat-Regular.ttf')
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../../public/fonts/Montserrat-SemiBold.ttf')
}
