$type-size-h1: 3.5rem; // 56px
$type-size-h2: 2.5rem; // 40px
$type-size-h3: 2.25rem; // 36px
$type-size-h4: 2rem; // 32px
$type-size-h5: 1.75rem; // 28px
$type-size-h6: 1.5rem; // 24px

$type-size-p-large: 1.25rem; // 20px
$type-size-p: 1.125rem; // 18px
$type-size-p-small: 0.875rem; // 14px

$type-size-body: 1rem; // 16px
$type-size-s: 0.75rem; // 12px
$type-size-xs: 0.625rem; // 10px
